<nav class="navbar navbar-expand-lg navbar-dark bg-info font-italic">
  <a class="h4 m-0 p-0 text-decoration-none text-warning" routerLink="/">Cocktails</a>
  <div class="navbar navbar-expand" id="navbarNav">
    <ul class="navbar-nav flex-wrap font-weight-bold">
      <li class="nav-item mr-2 my-hover-link" routerLinkActive="active">
        <a class="nav-link" routerLink="creat-new-cocktail">Creat new cocktail</a>
      </li>
    </ul>
  </div>
</nav>
