<div class="text-center font-weight-bold">
  <h3 class="font-italic font-weight-bold m-2 p-1">Creat new cocktail</h3>
  <form class="p-3 col-6 m-auto" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Cocktail name</label>
      <input type="text" class="form-control bg-info my-hover-white m-2 text-white" id="name" formControlName="name"
             placeholder="Cocktail name">
      <small
        *ngIf="fieldHasError('name', 'required')"
        class="form-text invalid-form-text "
      >
        Enter your cocktail name!
      </small>
    </div>
    <div class="form-group">
      <label for="imageUrl">Image URL</label>
      <input type="text" class="form-control bg-info my-hover-white m-2 text-white" id="imageUrl" formControlName="imgUrl"
             placeholder="Image URL"
             appImageUrlValidator
      >
      <small
        *ngIf="fieldHasError('imgUrl', 'required')"
        class="form-text invalid-form-text "
      >
        Enter your cocktail image URL!
      </small>
      <small
        *ngIf="fieldHasError('imgUrl', 'imgUrl')"
        class="form-text invalid-form-text "
      >
        Enter correct image URL!
      </small>
    </div>
    <div class="form-group m-2">
      <div class="row justify-content-center">
        <div class="form-check m-2">
          <input class="form-check-input my-hover-white text-white" type="radio" value="alcohol" id="alcohol"
                 formControlName="cocktailType" style="width:20px;height:20px;">
          <label class="form-check-label pl-2 pt-1" for="alcohol">Alcohol cocktail</label>
        </div>
        <div class="form-check m-2">
          <input class="form-check-input my-hover-white text-white" type="radio" value="mocktail" id="mocktail"
                 formControlName="cocktailType" style="width:20px;height:20px;">
          <label class="form-check-label pl-2 pt-1" for="mocktail">Mocktail</label>
        </div>
      </div>
      <small
        *ngIf="fieldHasError('cocktailType', 'required')"
        class="form-text invalid-form-text "
      >
        Enter your cocktail type!
      </small>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control bg-info my-hover-white m-2 text-white" id="description" formControlName="description" rows="3"
                placeholder="Description..."></textarea>
    </div>
    <div class="mb-3" formArrayName="ingredients">
      <button type="button" (click)="addIng()" class="btn btn-info m-3 text-dark my-hover-white">Add ingredient</button>
      <div class="mb-2 w-100" *ngFor="let _ of getIngArray(); let i = index">
        <div [formGroupName]="i">
          <h4 class="font-italic text-center">Ingredient # {{ i + 1 }}</h4>
          <div class="d-flex col-11 align-items-center">
            <div class="form-group col-4">
              <input type="text" class="form-control bg-info my-hover-white m-2 text-white" formControlName="ingName"
                     placeholder="Ing name">
              <small
                *ngIf="fieldIngredientsError('ingName', i,'required')"
                class="form-text invalid-form-text "
              >
                Enter your ingredient name!
              </small>
            </div>
            <div class="form-group col-4">
              <input type="number" class="form-control bg-info my-hover-white m-2 text-white" formControlName="amount"
                     placeholder="Amount">
              <small
                *ngIf="fieldIngredientsError('amount', i,'required')"
                class="form-text invalid-form-text "
              >
                Enter your cocktail amount!
              </small>
            </div>
            <div class="form-group col-4">
              <select
                class="form-control bg-info my-hover-white m-2 text-white"
                name="countIng"
                formControlName="countIng"
                aria-label="Default select example"
              >
                <option value="">Amount of ingredient</option>
                <option value="ml">ml</option>
                <option value="pcs">pcs</option>
              </select>
              <small
                *ngIf="fieldIngredientsError('countIng', i,'required')"
                class="form-text invalid-form-text "
              >
                Enter your amount of ingredient!
              </small>
            </div>
            <button class="btn btn-danger mb-3" (click)="onRemoveIng(i)">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="instruction">Instruction</label>
      <textarea class="form-control bg-info my-hover-white m-2 text-white" id="instruction" rows="3" formControlName="instruction"
                placeholder="Instruction..."></textarea>
      <small
        *ngIf="fieldHasError('instruction', 'required')"
        class="form-text invalid-form-text "
      >
        Enter your cocktail instruction!
      </small>
    </div>
    <button type="submit" class="btn btn-warning font-weight-bold my-hover-orange" [disabled]="reactiveForm.invalid || isAddedIng">
      <span *ngIf="!loading">Creat</span>
      <span *ngIf="loading" class="spinner-border spinner-border-sm"><span class="sr-only">Removing...</span></span>
    </button>
  </form>
</div>
