input, select, textarea {
  color: black;
  text-align: center;
}

input.ng-invalid.ng-touched {
  box-shadow: 0 0 8px 4px red;
}

select.ng-invalid.ng-touched {
  box-shadow: 0 0 8px 4px red;
}

textarea.ng-invalid.ng-touched {
  box-shadow: 0 0 8px 4px red;
}

.invalid-form-text {
  color: red;
}

::-webkit-input-placeholder {
  color: black;
}
