<div class="modal show" [ngStyle]="{display: isOpenModal ? 'block': 'none'}">
  <div class="modal-dialog my-hover-white border-white rounded text-center">
    <div class="modal-content bg-dark scroll">
      <div class="modal-header">
        <h5 class="modal-title">About cocktail</h5>
        <button type="button" class="btn btn-danger font-weight-bold my-hover-red" (click)="onClose()">X</button>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
<div class="modal-backdrop show" [ngStyle]="{display: isOpenModal ? 'block': 'none'}"></div>
