body,html {
  height: 100%;
  color: white;
  box-sizing: border-box;
  background: black;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  margin: 0;
}

.my-card {
  width: 20rem;
}

.my-hover-card:hover{
  width: 22rem;
  padding: 10px;
  box-shadow: 0 0 20px 8px yellow;
}

.my-hover-white:hover{
  box-shadow: 0 0 15px 5px white;
}

.my-hover-orange:hover{
  box-shadow: 0 0 10px 5px orange;
}

.my-hover-red:hover{
  box-shadow: 0 0 7px 5px red;
}

.my-hover-link:hover{
  border-bottom: 1px solid yellow;
}

.preloader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 49%;
}
.preloader div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.preloader div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 1px;
    left: 1px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.scroll {
  overflow: auto;
  overflow-x: hidden;
  height: 900px;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
}

::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 7px;
}
