<ng-container *ngIf="!loading, else preloader">
  <h2 class="font-italic text-center text-warning p-2">All cocktails</h2>
<div class="d-flex justify-content-around flex-wrap">
  <div *ngFor="let cocktail of cocktailsArray">
    <div class="card m-3 text-dark my-card my-hover-card" (click)="openModal(cocktail.id)">
      <img [src]="[cocktail.imageUrl]" class="card-img-top m-auto rounded" style="width: 19.9rem; height: 15rem" alt="Cocktail image">
      <div class="card-body p-0">
        <p class="card-header">Cocktail name: {{ cocktail.name }}</p>
        <p class="card-text m-2">Type: {{ cocktail.cocktailType }}</p>
      </div>
    </div>
  </div>
</div>
</ng-container>
<ng-template #preloader>
  <div class="preloader">
    <div></div>
    <div></div>
  </div>
</ng-template>

<app-modal [isOpenModal]="isOpenModal" (closeModal)="isClose()" *ngIf="cocktail">
  <div class="modal-body">
    <h3>Cocktail name: {{ cocktail.name }}</h3>
    <img [src]="cocktail.imageUrl" class="card-img-top m-auto p-2" alt="Cocktail image">
    <p class="border-bottom p-1"><b class="font-italic">Cocktail type: </b>{{ cocktail.cocktailType }}</p>
    <h4 class="font-italic">Description:</h4>
    <p class="border-bottom">{{ cocktail.description }}</p>
    <div *ngFor="let ingredient of cocktail.ingredients" class="border-bottom">
      <h4 class="font-italic">Ingredients:</h4>
      <p><b class="font-italic">Ingredient name: </b>{{ ingredient.ingName }}</p>
      <p><b class="font-italic">Ingredient quantity: </b>{{ ingredient.amount }}</p>
      <p><b class="font-italic">Ingredient amount: </b>{{ ingredient.countIng }}</p>
    </div>
    <h4  class="font-italic">Instruction:</h4>
    <p>{{ cocktail.instruction }}</p>
  </div>
  <div class="modal-footer">
    <button (click)="isClose()" type="button" class="btn btn-danger font-weight-bold my-hover-red" data-bs-dismiss="modal">Close</button>
  </div>
</app-modal>
